@font-face {
  font-family: 'Somar Sans';
  src: url('../public/fonts/SomarSans-Regular.ttf');
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Somar Sans', sans-serif;
}

a,button{
  outline: none;
}